body{
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font:12px "Lucida Grande", "Lucida Sans Unicode","Arial", Sans-serif;
	
}

#container{
	width: 1080px;
	margin: 0 auto;
	

}

a:link, a:active, a:visited{
	color: #af670a;
	text-decoration: none;
}

a:hover{
	color: #227115;
}

#logo h1{
	float: left;
}

#logo a{
	/*Demos a altura e largura da imagem, depois posicionamos o texto pra longe, 
	formatamoos o link como bloco, e colocamos uma imagem pra se o limk, ao inves de um texto*/
	width: 248px;  
	height: 21px;
	text-indent: -9999px;
	display: block;
	background: url(../img/logo.png) no-repeat ;
	
}

header{
	padding: 15px 0;
	height: 55px;
}

nav ul{
	list-style: none;
	margin: 20px;
	float: right;  
	/*como os elementos de lista seo em coluna, essa proriedade desloca a coloca
	para a direita, faz]'flutuar'*/
}

nav ul li{
	float: right;	
	/*Aplica a flutuacaco nos elemsntos que ficaram em linha agora'*/
}

nav ul li a {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;

}

nav ul li a:hover{
	border-bottom: 1px solid #535858;
}

#conteudo{
	width: 710px;
	float: left;
	margin-bottom: 20px;
	
}

article#video{
	width: 310px;
	float: left;
	margin-left: 25px;
}

article#mapa{
	width: 310px;
	float: left;
	margin-left: 37px;
}
article#exposicoes{
	width: 310px;
	float: left;
	margin: 15px 0 0 25px;
	
}
article#historia{
	width: 310px;
	float: left;
	margin: 15px 0 0 37px;
	
	
}



aside{
	width: 340px;
	float: right;
	background: #ebe7dd;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

section#depoimento img {
	width: 340px;
}

section#vizita{           
/*Essa forma junta se ler assim: section com nome/id "vizita
 e nao secao que contem o id vizita nela;*/
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;

}
section#galeria{
	padding: 0 27px 0 27px;


}


section#galeria a{
	display: block;
	background: url(../img/fundo-foto.png) no-repeat ;
	
	float: left;
	padding: 15px 15px 17px 15px;
	margin: 10px 0 0 20px;
}

footer{
	 padding: 20px 0 30px 0;
	 text-align: center;
	 background: url(../img/fundo-rodape.png) no-repeat center top ;

}

footer>p a{
	padding: 2px 10px;
}

h3{
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

h4{
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;

}


input{
	height: 20px;
	width: 80px;
	background: #fff;
	border: none;
	font-size: 1em;
}

input.campo{
	border: 1px solid #9b9271;
}

input.botao{
	background: #9b9271;
	color: white;
	width: 100%;   /* 100% do fildeset que é uma caixa de elementos*/
	height: 40px;
	font-size: 1.2em;
}

fieldset{
	border: none; /* Tirar bordas da daixa de elemtos que vem por padrão*/
}

legend{
	display: none; /*Oculta a legenda do caixa de elemntos (fieldset)*/
}





